@import 'materialize';
@import 'material_icons';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.note {
    font-weight:normal;
    color:#3B3B3B;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:6px;
}

.btn-small {
  font-size: 10px;
  height: 24px;
  line-height: 24px;
  padding-left: 4px;
  padding-right: 4px;
}

#map {
  height: 300px;
  width: 100%;
}